.descriptionAndImages {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-left: 79px;
}
.description {
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  background-color: rgba(0, 53, 107, 0.05);
  padding: 16px;
  border-left: 4px solid #00356b;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  margin: 0 auto 24px auto;
  text-align: center;
}

.imageGallery img,
.modalImageWrapper img {
  border-radius: 8px;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
}
.imageGallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

.title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 32px;
  text-shadow:
    1px 1px 4px rgba(0, 53, 107, 0.6),
    0 0 2px rgba(0, 0, 0, 0.2);
}
.section h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  justify-items: center;
  min-height: 100svh;
  padding: 0px 24px 80px 24px;
  gap: 64px;
  font-family: var(--font-geist-sans);

  background-color: white;
  color: rgb(0, 0, 0);
  --foreground: black;
  --background: white;
}

.reviewAndMapSection {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  margin-top: 40px;
}

.leftColumn {
  flex: 0 0 58%;
  padding-right: 32px;
  padding-left: 32px;
}

.rightColumn {
  flex: 1;
  max-width: 550px;
  position: relative;
}

.stickyMapWrapper {
  position: sticky;
  top: 100px;
}

.mapBox {
  width: 100%;
  height: 430px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
